- page_title "Audit Events"

- if @project.feature_available?(:audit_events)
  %h3.page-title
    = _('Project Audit Events')
  %p.light
    = _('Events in %{project_path}') % { project_path: @project.full_path }

  = render 'shared/audit_events/event_table', events: @events
- elsif show_promotions?
  = render 'shared/promotions/promote_audit_events'
