@each $variant, $range in $color-ranges {
  @each $suffix, $color in $range {
    #{'.bg-#{$variant}-#{$suffix}'} {
      background-color: $color;
    }

    #{'.text-#{$variant}-#{$suffix}'} {
      color: $color;
    }
  }
}

@each $index, $size in $type-scale {
  #{'.text-#{$index}'} {
    font-size: $size;
  }
}

@each $index, $size in $size-scale {
  #{'.mw-#{$index}'} {
    max-width: $size;
  }
}

.border-width-1px { border-width: 1px; }
.border-style-dashed { border-style: dashed; }
.border-style-solid { border-style: solid; }
.border-color-blue-300 { border-color: $blue-300; }
.border-color-default { border-color: $border-color; }
.box-shadow-default { box-shadow: 0 2px 4px 0 $black-transparent; }

.gl-w-64 { width: px-to-rem($grid-size * 8); }
.gl-h-64 { height: px-to-rem($grid-size * 8); }

.gl-bg-red-100 { background-color: $red-100; }
.gl-text-red-700 { color: $red-700; }
.gl-bg-orange-100 { background-color: $orange-100; }
.gl-text-orange-700 { color: $orange-700; }
.gl-bg-purple-light { background-color: $purple-light; }
.gl-text-purple { color: $purple; }
.gl-bg-gray-100 { background-color: $gray-100; }
.gl-text-gray-800 { color: $gray-800; }
.gl-bg-green-100 { background-color: $green-100; }
.gl-text-green-700 { color: $green-700; }
